[submodule "theory_of_computation"]
	path = 0_theoretical_computer_science/theory_of_computation
	url = git@github.com:praisetompane/theory_of_computation.git
[submodule "programming_language_theory_and_formal_methods"]
	path = 0_theoretical_computer_science/programming_language_theory_and_formal_methods
	url = git@github.com:praisetompane/programming_language_theory_and_formal_methods.git

[submodule "programming_language_theory_and_formal_methods"]
	path = 0_theoretical_computer_science/programming_language_theory_and_formal_methods
	url = git@github.com:praisetompane/programming_language_theory_and_formal_methods.git
	
[submodule "algorithms_and_data_structures"]
	path = 0_theoretical_computer_science/algorithms_and_data_structures
	url = git@github.com:praisetompane/algorithms_and_data_structures.git

[submodule "hardware"]
	path = 1_computer_systems_and_computational_processes/computer_architecture_and_organisation/hardware
	url = git@github.com:praisetompane/2_hardware.git
[submodule "systems_software"]
	path = 1_computer_systems_and_computational_processes/computer_architecture_and_organisation/systems_software
	url = git@github.com:praisetompane/systems_software.git
[submodule "networks"]
	path = 1_computer_systems_and_computational_processes/networks
	url = git@github.com:praisetompane/networks.git
[submodule "software_engineering"]
	path = 1_computer_systems_and_computational_processes/software_engineering
	url = git@github.com:praisetompane/software_engineering.git
[submodule "7_artificial_intelligence"]
	path = 1_computer_systems_and_computational_processes/artificial_intelligence
	url = git@github.com:praisetompane/7_artificial_intelligence.git

[submodule "computational_mathematics"]
	path = 2_applied_computer_science/computational_mathematics
	url = git@github.com:praisetompane/computational_mathematics.git
