[submodule "0_theory_of_computation"]
	path = 0_theory_of_computation
	url = git@github.com:praisetompane/0_theory_of_computation.git
[submodule "1_algorithms_and_data_structures"]
	path = 1_algorithms_and_data_structures
	url = git@github.com:praisetompane/1_algorithms_and_data_structures.git
[submodule "2_hardware"]
	path = 2_hardware
	url = git@github.com:praisetompane/2_hardware.git
[submodule "3_computer_programming"]
	path = 3_computer_programming
	url = git@github.com:praisetompane/3_computer_programming.git
[submodule "4_systems_software"]
	path = 4_systems_software
	url = git@github.com:praisetompane/4_systems_software.git
[submodule "5_networks"]
	path = 5_networks
	url = git@github.com:praisetompane/5_networks.git
[submodule "6_computing_systems_engineering"]
	path = 6_computing_systems_engineering
	url = git@github.com:praisetompane/6_computing_systems_engineering.git
[submodule "7_artificial_intelligence"]
	path = 7_artificial_intelligence
	url = git@github.com:praisetompane/7_artificial_intelligence.git



