[submodule "theory_of_computation"]
	path = theory_of_computation
	url = git@github.com:praisetompane/theory_of_computation.git
[submodule "programming_language_theory_and_formal_methods"]
	path = programming_language_theory_and_formal_methods
	url = git@github.com:praisetompane/programming_language_theory_and_formal_methods.git
[submodule "algorithms_and_data_structures"]
	path = algorithms_and_data_structures
	url = git@github.com:praisetompane/algorithms_and_data_structures.git

